.vowel {
	background-color: #f8f8f8;
	border-style: solid;
	border-width: 1px;
	border-color: #e7e7e7;
	padding: .3em;
	margin: .3em;
}

.vowelList {
	margin: 1em 1em 1em 0;
}

.vowelHead {
	font-weight: 400;
	margin-top: 0;
}

.list-group {
	max-width: 30em;
	margin: auto;
}

.list-group-item {
	background-color: #f8f8f8;
}

.count {
	float: right;
	display: inline;
}

.btn-primary {
	margin-bottom: 2em;
}

ol > li {
	font-size: 1.7em;
}